# ALM Connections
JIRA_CONNECTION_NAME=VWO Production
JIRA_URL=https://sriradhamadhav.atlassian.net
JIRA_EMAIL=your_email@example.com
JIRA_API_TOKEN=your_jira_api_token

# LLM Connections
LLM_PROVIDER=Groq
LLM_BASE_URL=
LLM_API_KEY=your_groq_api_key
LLM_MODEL=mixtral-8x7b-32768
